# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.terraform.tfstate.backup

# .NET 9
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
TestResults/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
publish/
# Rider
.idea/
*.DotSettings.user

# OS generated
.DS_Store
Thumbs.db